<div class="container">
  <h1 class="title is-white">Зайти как:</h1>
  <div class="auth">
    <a class="auth-link button" href="/auth/admin">Администратор</a>
    <a class="auth-link button" href="/auth/assembler">Мастер</a>
  </div>

</div>
