<div class="container">

  <h1 class="title is-white">Посмотреть:</h1>

  <div class="admin-commands">
    <a class="button" href="/admin/orders" class="orders">Заказы</a>
    <a class="button" href="/admin/assemblers" class="assemblers">Мастера</a>
  </div>
</div>
